body{
    background-image: url("../pict/sport.jpg");
    background-size: cover;
    background-color: deepskyblue;
    margin: 0;
    font-family: feast of flash bb;
    font-size: 20px;
    text-align: center;
}
.wrap{
    width: 250;
    margin: 50px auto;
}
h1{
    color: white;
    background-color: darkblue;
    padding: 10px 10px;
    margin: -10px -50px;
    text-align: center; 
}
h2{
    color: white;
    background-color: darkblue;
    padding: 10px 10px;
    margin: -10px -50px;
    text-align: center; 
}
.button{
    background-color: darkblue;
    border: none;
    color: chartreuse;
    padding: 30px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    margin-top: 150px;
    border-radius: 50px;
    -webkit-transition-duration: 0.45;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button a{
    color: antiquewhite;
}